@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --color-background: #000119;
  --stroke-width: calc(1em / 16);
  --font-size: 10rem;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}

body {
  background: var(--color-background);
  height: 100vh;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

h1,
h3 {
  margin-bottom: 0;
}

h1 {
  text-transform: uppercase;
}

.title {
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #09f1b8,
    #00a2ff,
    #ff00d2,
    #fed90f
  );
  color: var(--color-background);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
}

p {
  line-height: 1.5;
  margin: 0;
}

.play-again {
  padding: 8px 15px;
  border: 0;
  background: #f4f4f4;
  border-radius: 5px;
  margin-top: 10px;
}

.msg {
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 1px solid #dedede;
  display: inline-block;
  font-size: 30px;
  margin: 20px;
  padding: 10px;
}
